.container{
    margin: 50px auto;
    box-sizing: border-box;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.verification{

    padding: 10px;
    display: flex;
    gap: 30px;
}

.verification input{
    height: 30px;
    width: 200px;
}

.verification button{
    background-color: rgb(47, 141, 248);
    color: white;
    border: none;
    outline: none;
    font-weight: bolder;
    padding: 0 15px;
}