/* .container{
    margin: 50px auto;
    box-sizing: border-box;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputfields{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 15px;
}

.inputfields input {
    height: 2.5em;
    width: 30px;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    border-radius: 0.3em;
    border: 1px solid rgba(253, 253, 253, 0.363);
    background-color: rgb(255 255 255 / 0.05);
  }

  .inputfields input:focus {
    border: 1px solid rgb(99 102 241);
  }

.verification{

    padding: 10px;
    display: flex;
    gap: 30px;
    display: block;
}

.verification input{
    height: 30px;
}

.verification button{
    background-color: rgb(47, 141, 248);
    color: white;
    border: none;
    outline: none;
    font-weight: bolder;
    padding: 0 15px;
} */



.container {
    margin: 50px auto;
    box-sizing: border-box;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header{
    color: aliceblue;
    font-weight: 600;
}
.subheader{
    color: white;
}

.inputfields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 80px; /* Adjusted to fit the number of input fields */
}

.inputfields input {

    height: 2.5em;
    width: 50px;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff; /* Changed to black for better visibility */
    border-radius: 0.3em;
    border: 1px solid rgba(253, 253, 253, 0.363);
    background-color: rgb(255 255 255 / 0.05);
}

.inputfields input:focus {
    border: 1px solid rgb(99, 102, 241);
}

.verification {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {

    padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.buttons :hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .buttons:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

.errorMessage {
    color: red;
}

.successMessage {
    color: green;
}
